<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeter Form</title>
</head>
<body>
    <!-- action = /greet sets the button to the /greet action in app.py, and name=username sets the variable to be username -->
    <form action="/greet">
        <h1>Greeter Form</h1>
        <input type="text" placeholder="your name" name="username">
        <button>Submit</button>
    </form>
</body>
</html>