{% extends 'base.html' %} 
{% block title %}Greeter Form V2{% endblock %}
{% block content %}

    <h1>Greeter Form v2</h1>
    <!-- action = /greet sets the button to the /greet action in app.py, and name=username sets the variable to be username -->
    <form action="/greet_2">
        <input type="text" placeholder="your name" name="username">
        <label for="compliments">Do you want compliments?</label>
        <input type="checkbox" name="wants_compliments">
        <button>Submit</button>
    </form>
{% endblock %}